* {
    color: black;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

.fira-code {
    font-family: "Fira Code", serif !important;
    font-style: normal !important;
}

:root {
    --gold: #f9b603;
    --themeColor: black;
}

body {
    background: var(--themeColor);
}

.text-main {
    color: var(--gold);
}

.expBtn {
    background: rgba(255, 255, 255, 0.2);
}

.lighWhite {
    background: #ffffff20 !important;
}

#myBtn {
    display: none;
}

#myBtn {
    display: none;
}

.bg-main {
    background-color: var(--gold);
}

.titleText {
    font-weight: 800;
    color: var(--gold);
}

.gradiantDiv {
    background: radial-gradient(50% 50% at 50% 50%, #F1E0BF 0%, #8c8c8c 100%);
}

.webOne {
    background: rgb(157, 147, 202) !important;
}

.webTwo {
    background: rgb(198 218 237) !important;
}

.webThree {
    background: rgba(236, 236, 236, 1) !important;
}

.navMenu:hover {
    background-color: black !important;
    color: white !important;
}

.nameText::after {
    width: 0%;
    position: absolute;
    content: '';
    background: var(--gold);
    height: 5px;
    bottom: -7px;
    left: 0;
    animation: hoverEffect;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 2s;
}

@keyframes hoverEffect {
    0% {
        width: 0%;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0%;
        left: 100%;
    }
}

.my_pic{
    animation: imgEffect forwards;
    animation-timeline : view();
    opacity: 0%;
    scale: 0;
    animation-direction: normal;
}

@keyframes imgEffect {
    0% {
        opacity: 0% ;
        scale: 0;
    }

    100% {
        opacity: 100%;
        scale: 1;
    }
}

