* {
    color: black;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

.fira-code {
    font-family: "Fira Code", serif !important;
    font-style: normal !important;
}

:root {
    --gold: #f9b603;
    --themeColor: black;
}

body {
    background: var(--themeColor);
}

.text-main {
    color: var(--gold);
}

.expBtn {
    background: rgba(255, 255, 255, 0.2);
}

.lighWhite {
    background: #ffffff20 !important;
}

#myBtn {
    display: none;
}

#myBtn {
    display: none;
}

.bg-main{
    background-color:var(--gold);
}

.titleText{
    font-weight: 800;
    color: var(--gold);
}

.gradiantDiv{
    background: radial-gradient(50% 50% at 50% 50%, #F1E0BF 0%, #8c8c8c 100%);
}

.webOne{
    background: rgb(157, 147, 202) !important;
}

.webTwo{
    background: rgb(198 218 237) !important;
}

.webThree{
    background: rgba(236, 236, 236, 1) !important;
}